.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #9bc0c7;
  /* #ffb871; */
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.input {
  padding: 8px;
  width: 32%;
  /* margin: auto; */
  margin-top: 16px;
  border: 2px solid #ff1f8f;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 10px;
  background-color: white;
  text-align: center;
}

.input:hover {
  border: 2px solid white;
}

.input:focus {
  outline: none;
  background-color: whitesmoke;
}

/* .welcome {
  padding: 10px;
  margin: auto;
  position: center;
  top: 50%;
  left: 50%;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 20px;
  text-shadow: 
    4px 4px #ff1f8f,
    4px 4px #000000;
} */

span {
  position: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:90px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px #ff1f8f,
						16px 16px #000000;
}

.icon-container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: #e5d5df;
  animation-name: sun;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.icon-container img {
  margin: auto;
}

@keyframes sun {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.data {
  text-align: center;
}

.date {
  text-align: center;
  padding: 8px;
  margin-top: 16px;
  font-size: large;
}

hr.style {
  border: 0;
  height: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}